<div class="maincontent">
  <article class="article">
  </article><!-- article -->

  <article class="article">
  </article><!-- article -->

  <article class="article">
  </article><!-- article -->
</div>
