<!DOCTYPE html>
<html>
<head><% include partials/template/head.ejs %></head>
<body id="<%= pageID %>">
<% include partials/template/header.ejs %>
<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <h1 class="feedback-form-title">Sign Up</h1>
            <span>Show Sign Up Error Message</span>
            <h2>User Role</h2>
            <h3>Lastname, Firstname</h3>
            <form class="feedback-form" method="post" action="/signup" novalidate>
                <div class="form-group">


                    <label>Course NAme</label>
                    <input type="checkbox" class="form-control" id="cs602" value="cs602">
                </div>

                <button type="submit" class="btn btn-default pull-right">Sign Up For Class</button>
            </form>
        </div><!-- primary -->
    </div>
</div><!-- container -->
</body>
</html>
